.player-card {
    display: inline-block;
    background-color: $pink-color;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 8px 12px;
    margin: 4px;
    cursor: pointer;
    text-shadow: 0px 1px 3px $black-color;
    
    &__title {
        font-size: 20px;
        margin: 0;
    }
}